{% disable_client_cache %}

<script src="/javascripts/secret_keys.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/css/rhoai_custom.css" />

<div class="row">
  <div class="col-md-9">
    <table class="table panel panel-default" id="applications">
      <thead class="panel-heading">
        <tr>
          <th>Name</th>
          {% if provider.services.size > 1 %}
            <th>Service</th>
          {% endif %}
          <th class="td_api_key">Credentials</th>
          <th>State</th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody class="panel-body">
        {% assign sorted_applications = applications | sort: 'name' %}
        {% for application in sorted_applications %}
          <tr class="{% cycle 'applications': 'odd', 'even' %}" id="application_{{ application.id }}">
            <td>
              {{ application.name | link_to: application.url }}
            </td>
            {% if provider.services.size > 1 %}
              <td>{{ application.service.name }}</td>
            {% endif %}
            <td><input id="key_{{ application.id }}" type="password" readOnly="true" class="api_key_display" value="{{ application.key }}" />
                  <i class="fa fa-lg fa-eye-slash" onclick="toggleVisibility('key_{{ application.id }}')"></i>
                  <i class="fa fa-lg fa-copy" onclick="copyToClipboard('key_{{ application.id }}', 'API Key')"></i></td>
            <td>{{ application.state }}</td>
            <td>
              {% if application.can.be_updated? %}
                <a href="{{ application.edit_url }}">
                  <i class="fa fa-pencil"></i>
                </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot class="panel-footer">
      <tr>
        <td colspan="{% if provider.services.size > 1 %}4{% else %}3{% endif %}">
        </td>
        <td>
          {% if current_user.can.create_application? %}
            <a href="{{ urls.new_application }}" title="Create new application" class="btn btn-primary">Create new application</a>
          {% endif %}
        </td>
      </tr>
      </tfoot>
    </table>

    {% include 'shared/pagination' with pagination %}

  </div>
</div>
