{% disable_client_cache %}

{% content_for javascripts %}
    {{ 'active_docs.js' | javascript_include_tag }}
{% endcontent_for %}
<h1>APIs Documentation</h1>
<ul id="items_menu">
{% for api_spec in provider.api_specs %}
  <a href="#{{ api_spec.service.name }}"><li>{{ api_spec.service.name }}</li></a>
{% endfor %}
</ul>

<ul>
{% for api_spec in provider.api_specs %}
    <div class="swagger-section" id="{{ api_spec.service.name }}">
        <div id="message-bar-{{ forloop.index }}" class="swagger-ui-wrap">&nbsp;</div>
        <div id="swagger-ui-container-{{ forloop.index }}" class="swagger-ui-wrap"></div>
      	<a href="#items_menu">Back to top</a>
    </div>
    <script type="text/javascript">
        (function () {
            var url = "{{ api_spec.url }}";
            var serviceEndpoint = "{{ api_spec.api_product_production_public_base_url }}";
            SwaggerUI({
                url: url,
                dom_id: "#swagger-ui-container-{{ forloop.index }}",
              	defaultModelsExpandDepth: 0
            }, serviceEndpoint);
        }());
    </script>
{% endfor %}
</ul>